body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#editorContainer {
  position: absolute;
}

#toolbox {
  padding-left: 2px;
}

#svgroot {
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
}

#canvasBackground {
  display: none;
}

#toolboxColumn1 {
  left: 3px;
  position: absolute;
  top: 0;
}

#toolboxColumn2 {
  left: 40px;
  position: absolute;
  top: 0;
}

#toolbox button {
  background: #eee;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px white, 1px 1px 1px rgba(0,0,0,0.3);
  margin: 4px;
  padding: 1px;
  display: block;
}

#toolbox button:hover {
  background: #d6e9f8;
}

#toolbox button.selected {
  background: #ccc;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), 1px 1px 0 #fff;
}

#toolbox button:focus {
  outline: 0;
}

#menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: none;
  font: normal 13px Arial, sans-serif;
  margin: 0;
  max-height: 100%;
  outline: none;
  padding: 4px 0;
  position: absolute;
  user-select: none;
  z-index: 100;
}

.menuitem {
  color: #444;
  margin: 0;
  padding: 4px 1em;
  white-space: nowrap;
}

.menuitem:hover:not(.menuItemDisabled) {
  background-color: #d6e9f8;
  border-color: #d6e9f8;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

.menuItemDisabled {
  color: #ccc;
}

.menudiv {
  border-top: 1px solid #ccc;
  margin-top: 4px;
  padding-top: 4px;
}
