[Unit]
Description=Code City Login Server
Documentation=https://github.com/google/CodeCity
After=network.target

[Service]
SyslogIdentifier=cc-login
WorkingDirectory=/home/cc/CodeCity/login
User=cc
Group=cc
ExecStart=@/home/cc/CodeCity/login/loginServer cc-login 
Restart=on-failure
