[Unit]
Description=Code City Login Server
Documentation=https://github.com/google/CodeCity
After=network.target

[Service]
SyslogIdentifier=cc-mobwrite
WorkingDirectory=/home/codecity/CodeCity/mobwrite
User=codecity
Group=codecity
ExecStart=@/usr/bin/python2 cc-mobwrite /home/codecity/CodeCity/mobwrite/mobwrite_server.py
Restart=on-failure
