[Unit]
Description=Code City Login Server
Documentation=https://github.com/NeilFraser/CodeCity
After=network.target

[Service]
SyslogIdentifier=cc-login
WorkingDirectory=/home/cc/CodeCity/login
User=cc
Group=cc
ExecStart=@/usr/bin/nodejs cc-login /home/cc/CodeCity/login/loginServer.js
Restart=on-failure
