[Unit]
Description=Code City
Documentation=https://github.com/google/CodeCity
After=network.target
Wants=codecity-login.service codecity-connect.service codecity-mobwrite.service

[Service]
SyslogIdentifier=codecity
WorkingDirectory=/home/cc/CodeCity/demo
User=cc
Group=cc
ExecStart=@/usr/bin/nodejs codecity /home/cc/CodeCity/server/codecity.js ./demo.cfg
Restart=on-failure

[Install]
WantedBy=multi-user.target
