[Unit]
Description=Code City
Documentation=https://github.com/google/CodeCity
After=network.target
Wants=codecity-login.service codecity-connect.service codecity-mobwrite.service

[Service]
SyslogIdentifier=codecity
WorkingDirectory=/home/codecity/CodeCity/database
User=codecity
Group=codecity
ExecStart=@/home/codecity/CodeCity/server/codecity codecity codecity.cfg
Restart=on-failure

[Install]
WantedBy=multi-user.target
