body {
  color: #444;
  background-color: #fff;
}

a.command {
  cursor: pointer;
  text-decoration: underline dotted;
}

a.command:hover {
  color: #d00;
}

#scrollDiv {
  bottom: 0;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  position: absolute;
  right: 0;
}

svg.menuIcon {
  cursor: pointer;
  display: inline;
  fill: #000;
  height: 10px;
  opacity: .7;
  stroke: none;
  vertical-align: top;
  width: 10px;
}

svg.menuIcon:hover {
  fill: #d00;
}
