body {
  color: #444;
  background-color: #fff;
  font-family: 'Roboto Mono', monospace;
  padding-left: 15px;
}

#scrollDiv {
  bottom: 0;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  position: absolute;
  right: 0;
}

.zippySpan {
  cursor: pointer;
  margin-left: -15px;
  position: absolute;
}

.zippySpan::before {
  content: '▸ ';
 }

.zippySpan.open::before {
  content: '▾ ';
}

pre {
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 0;
  margin-top: 0;
}

.commandDiv {
  background: #ffc;
}
