body {
  color: #444;
  background-color: #fff;
  font-family: 'Patrick Hand', 'Comic Sans MS';
  margin: 0;
  overflow: hidden;
}

#scrollDiv {
  bottom: 0;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  position: absolute;
  right: 0;
}

.historyRow {
}

.historyPanel {
  border: 2px solid #444;
  border-radius: 2px;
  display: inline-block;
  margin: 5px;
}

#panoramaDiv {
  border: 2px solid #444;
  border-radius: 2px;
  height: 295px;
  margin: 5px 6px 0 5px;
}

#iframeStorage>iframe {
  border: none;
  left: 0;
  position: absolute;
  top: 0;
}

svg {
  height: 100%;
  width: 100%;
}
