body {
  font-family: 'Patrick Hand', 'Comic Sans MS';
  margin: 0;
  overflow: hidden;
}

.historyPanel {
  border: 2px solid #444;
  border-radius: 2px;
  display: inline-block;
  margin: 5px 5px 0 5px;
  overflow: hidden;
}

#panoramaDiv {
  border: 2px solid #444;
  border-radius: 2px;
  height: 295px;
  margin: 5px 6px 0 5px;
  overflow: hidden;
}

#iframeStorage>iframe {
  border: none;
  left: 0;
  position: absolute;
  top: 0;
}

.iframeClose:hover {
  opacity: 1;
}

.iframeClose {
  cursor: pointer;
  position: absolute;
  margin-left: -16px;
  margin-top: -5px;
  opacity: .7;
  z-index: 1;
}

.iframeRelaunch {
  cursor: pointer;
}

.iframeRelaunch:hover>text {
  fill: #f00;
}

.iframeRelaunch>rect {
  fill: #222;
}

.iframeRelaunch>text {
  fill: #ccc;
  text-anchor: middle;
  alignment-baseline: middle;
}

.iframeRelaunch:hover>text {
  fill: #fff;
}

.iframeRelaunch:hover>rect {
  fill: #000;
}

.htmlPanel {
  height: 100%;
}

/* Enforce a consistent drawing style on all content. */
svg {
  fill: #fff;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .7px;
}

.sceneBackground {
  stroke: #888;
}

text {
  fill: #000;
  font-size: 4pt;
  stroke-width: 0;
}

.bubbleBG {
  stroke: none;
  fill: #000;
}

.bubbleFG {
  stroke: none;
}

g.say {
  text-anchor: middle;
}
