/* Enforce a consistent drawing style on all content. */
svg {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .7px;
}

text {
  fill: #000;
  font-size: 4pt;
  stroke-width: 0;
}

a {
  cursor: pointer;
  text-decoration: underline;
  fill: #00e;
}

a:hover {
  fill: #d00;
}

.strokeNone {
  stroke: none;
}

.strokeWhite {
  stroke: #fff;
}

.strokeBlack {
  stroke: #000;
}

.strokeGrey, .strokeGray {
  stroke: #888;
}

.fillNone {
  fill: none;
}

.fillWhite {
  fill: #fff;
}

.fillBlack {
  fill: #000;
}

.fillGrey, .fillGray {
  fill: #888;
}
